.main {
    width: 35%;
    height: 250px;
    display: flex;
    user-select: none;
    flex-direction: row;
    padding: 20px;
    gap: 50px;
    box-sizing: border-box;
    transition: 0.5s;
}

.main:hover {
    background-color: var(--text-color-active);
}

.main:hover .description {
    color: var(--main-gray-dark);
}

.main:hover .item_level_two {
    color: var(--main-gray-dark-opacity-75);
}

.main:hover .item_level_three {
    color: var(--main-gray-dark-opacity-50);
}



.image {

    height: 100%;
    object-fit: cover;
}

.description_text {
    font-size: 16px;
    color: var(--text-color-default-opacity-25);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.item_bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.button {
    background-color: transparent !important;
    color: var(--text-color-default) !important;
    border-color: var(--text-color-default) !important;
}

.button:hover {
    background-color: var(--text-color-default) !important;
    color: var(--main-gray-dark) !important;
}

.main:hover .button {
    color: var(--main-gray-dark) !important;
    border-color: var(--main-gray-dark) !important;
}

.main:hover .button:hover {
    color: var(--text-color-active) !important;
    border-color: var(--text-color-default) !important;
}


.item_level_two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-color-default-opacity-75);
    font-size: 17px;
    transition: 0.5s;
}

.item_level_three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-color-default-opacity-50);
    font-size: 14px;
    transition: 0.5s;
}

.description {
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default);
    font-size: 20px;
    gap: 5px;
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: space-between;
    flex-direction: column;
    transition: 0.5s;
}

@media (max-width: 1500px) {
    .main {
        width:45%;
        height: 170px;
        display: flex;
        user-select: none;
        flex-direction: row;
        padding: 5px;
        gap: 10px;
        box-sizing: border-box;
        transition: 0.5s;
    }


    .description {
        font-family: 'Biform', sans-serif;
        color: var(--text-color-default);
        font-size: 17px;
        gap: 5px;
        width: 100%;
        height: 100%;
        display: flex;

        justify-content: space-between;
        flex-direction: column;
        transition: 0.5s;
    }

    .item_level_two {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--text-color-default-opacity-75);
        font-size: 12px;
        transition: 0.5s;
    }

    .item_level_three {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--text-color-default-opacity-50);
        font-size: 10px;
        transition: 0.5s;
    }


}


@media (max-width: 700px) {
    .main {
        width:90%;
        height: 170px;
        display: flex;
        user-select: none;
        flex-direction: row;
        padding: 5px;
        gap: 10px;
        box-sizing: border-box;
        transition: 0.5s;
    }


    .description {
        font-family: 'Biform', sans-serif;
        color: var(--text-color-default);
        font-size: 15px;
        gap: 5px;
        width: 100%;
        height: 100%;
        display: flex;

        justify-content: space-between;
        flex-direction: column;
        transition: 0.5s;
    }

    .item_level_two {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--text-color-default-opacity-75);
        font-size: 10px;
        transition: 0.5s;
    }

    .item_level_three {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--text-color-default-opacity-50);
        font-size: 8px;
        transition: 0.5s;
    }

    .button {
        background-color: transparent !important;
        color: var(--text-color-default) !important;
        border: 1px solid var(--text-color-default) !important;
    }


}


