.main {
    width: 100%;
    height: 50vh;
    background-color: var(--main-gray-dark);
    box-sizing: border-box;
}

.hint_span {
    position: absolute;
    top: 50px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    font-family: Biform, 'sans-serif';
    color: transparent;
    font-size: 300px;
    -webkit-text-stroke: 1px var(--text-color-default-opacity-25);
}

.description_section {
    position: sticky;
    top: 0;/* прилипание */
    padding: 82px 20px 20px 20px;
    height: calc(50vh);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default);
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    height: 40px;
}

a {
    color: var(--text-color-default);
}

.info_column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    font-family: Biform, 'sans-serif';
    color: var(--text-color-default);
    font-size: 20px;
    align-items: start;
    text-align: start;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
    background-color: var(--background-black-opacity-25);
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--text-color-active);
    margin: 0;
}

.form_header {
    padding: 5px 20px;
    font-family: 'Biform', 'sans-serif';
    font-size: 30px;
    color: var(--text-color-default);
}

.form_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 5px 20px;
}

.form_input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-family: 'Biform', 'sans-serif';
    font-size: 20px;
    color: var(--text-color-default);
    border-bottom: 1px solid var(--text-color-default);
    outline: none;
}

.form_input::placeholder {
    color: var(--text-color-default-opacity-50);
}

.form_button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--text-color-active);
    border: none;
    font-family: 'Biform', 'sans-serif';
    font-size: 20px;
    color: var(--text-color-default);
    outline: none;
}


.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (max-height: 900px) {
    .info_column {
        font-size: 18px;

    }
}

@media (max-width: 700px) {

    .main {
        width: 100%;
        background-color: var(--main-gray-dark);
    }

    .description_section {
        position: sticky;
        top: 0;/* прилипание */
        padding: 82px 20px 20px 20px;
        height: calc(60vh);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-family: 'Biform', sans-serif;
        color: var(--text-color-default);
        box-sizing: border-box;
        overflow: hidden;
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    .logo {
        width: 80%;
    }

    .info_column {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        font-family: Biform, 'sans-serif';
        color: var(--text-color-default);
        font-size: 10px;
        align-items: start;
    }

    .map_column {
        grid-column: span 2;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 40px;
        background-color: var(--background-black-opacity-25);
    }

    hr {
        width: 100%;
        height: 1px;
        background-color: var(--text-color-active);
        margin: 0;
    }

    .form_header {
        padding: 5px 20px;
        font-family: 'Biform', 'sans-serif';
        font-size: 18px;
        color: var(--text-color-default);
    }

    .form_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        padding: 5px 20px;
    }

    .form_input {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        background-color: transparent;
        border: none;
        font-family: 'Biform', 'sans-serif';
        font-size: 14px;
        color: var(--text-color-default);
        border-bottom: 1px solid var(--text-color-default);
        outline: none;
    }

    .form_input::placeholder {
        color: var(--text-color-default-opacity-50);
    }

    .form_button {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: var(--text-color-active);
        border: none;
        font-family: 'Biform', 'sans-serif';
        font-size: 14px;
        color: var(--text-color-default);
        outline: none;
    }


}

