.button {
    font-family: 'Biform', sans-serif;
    font-size: 16px;
    transition: 0.5s;
    color: var(--text-color-default);
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    background-color: var(--text-color-active);
    outline: none;
    border: none;
}

.button:hover {
    box-shadow: 0 0 30px var(--text-color-default);
    transform: scale(1.03);
}

.button:active {
    transform: scale(0.98);
}

.button_element__highlight {
    background: linear-gradient(-90deg, white, var(--main-gray-dark), white);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 2.5s linear infinite;
    -moz-animation: animated_text 2.5s linear infinite;
    -webkit-animation: animated_text 2.5s linear infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}