.button {
    font-family: 'Biform', sans-serif;
    font-size: 24px;
    transition: 0.5s;
    color: var(--text-color-default);
    padding: 20px 40px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    background-color: var(--color-button-main);
    outline: none;
    border: none;
    position: relative;
    border-radius: 20px;
    -webkit-tap-highlight-color: transparent;
    /*z-index: 10;*/
}

.button:hover {
    color: var(--text-color-default);
    background-color: var(--color-button-second);
}

.button:active {
    color: var(--text-color-default);
    background-color: var(--color-button-third);
}

.button_element__highlight {
    background: linear-gradient(-90deg, white, var(--main-gray-dark), white);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 2.5s linear infinite;
    -moz-animation: animated_text 2.5s linear infinite;
    -webkit-animation: animated_text 2.5s linear infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

@media (max-width: 1000px) {

    .button {
        padding: 15px 30px;
        font-size: 20px;
        border-radius: 15px;
    }

}

@media (max-width: 600px) {

    .button {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 10px;
    }

}