.button {
    font-family: 'Biform', sans-serif;
    font-size: 16px;
    transition: 0.5s;
    color: var(--text-color-default);
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    background-color: var(--text-color-active);
    outline: none;
    border: none;
    position: relative;
}

.button:hover::after {
    top: -10px;
    left: -10px;
}

.button:hover {
    color: var(--text-color-active);
    background-color: var(--text-color-default);
}

.button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    transition: 0.3s;
    border: 1px solid var(--text-color-active);
    z-index: -1;
}

.button_element__highlight {
    background: linear-gradient(-90deg, white, var(--main-gray-dark), white);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 2.5s linear infinite;
    -moz-animation: animated_text 2.5s linear infinite;
    -webkit-animation: animated_text 2.5s linear infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

@media (max-width: 700px) {
    .button {
        font-family: 'Biform', sans-serif;
        font-size: 10px;
        transition: 0.5s;
        color: var(--text-color-default);
        padding: 5px;
        box-sizing: border-box;
        user-select: none;
        cursor: pointer;
        background-color: var(--text-color-active);
        outline: none;
        border: none;
        position: relative;
    }

    .button::after {
        top: 2px;
        left: 2px;
    }

    .button:hover::after {
        top: -2px;
        left: -2px;
    }

}