.main {
    backdrop-filter: blur(20px);
    padding: 20px;
    width: 800px;
    align-content: center;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid var(--text-color-default-opacity-25)
}

.button {
    width: 100%;
    color: var(--text-color-default) !important;
    background-color: var(--background-black-opacity-25) !important;
    box-sizing: border-box;
}

.button:disabled {
    color: var(--main-gray-dark) !important;
    background-color: var(--background-black-opacity-25) !important;
    border: 2px solid var(--main-gray-dark) !important;
}

.button:hover {
    background-color: var(--main-purple-opacity-25) !important;
    border: 2px solid var(--main-purple) !important;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input_item {
    border: 2px solid var(--text-color-default-opacity-25);
    background-color: transparent;
    font-size: 16px;
    color: var(--text-color-default);
    font-family: 'Biform', sans-serif;
    width: 100%;
    height: 46px;
    outline: none;
}

.input {
    height: 46px;
}

.calendar {
    height: 500px;
    width: 500px;
}

.hotel_date_range {
    width: 100%;
}

.hotel_calendar_month {
    background-color: white;
}


.hotel_date_input:hover {
    border-color: #3b82f6;
}

.custom_date_input {
    width: 100%;
    height: 100%;
    background: transparent;
    border-color: var(--text-color-default-opacity-50);
    font-size: 16px;
    outline: none;
    cursor: pointer;
    color: var(--text-color-default);
    font-family: 'Biform', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
}

.custom_date_input:hover {
    border-color: var(--text-color-default);
}

.calendar_icon {
    font-size: 20px;
    margin-right: 8px;
}

.arrow_icon {
    font-size: 12px;
    color: var(--text-color-default);
}

.hotel_calendar {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
    font-family: inherit;
}

.button_title_calendar {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
    font-family: inherit;
}