:root {
    --text-color-default: #FFFFFF;
    --text-color-default-opacity-50: rgba(255, 255, 255, 0.5);
    --text-color-default-opacity-75: rgba(255, 255, 255, 0.75);
    --text-color-default-opacity-25: rgba(255, 255, 255, 0.25);
    --text-color-active: #E68F61;
    --text-color-active-opacity-50: rgba(230, 143, 97, 0.5);
    --text-color-active-opacity-25: rgba(230, 143, 97, 0.25);
    --background-main: #161A1F;
    --background-black-opacity-25: rgba(0, 0, 0, 0.25);
    --background-gray-black-opacity-75: rgba(35, 51, 70, 0.75);
    --background-gray-black-opacity-10: rgba(35, 51, 70, 0.1);
    --background-gray-black-opacity-25: rgba(35, 51, 70, 0.25);
    --background-gray-orange-opacity-25: rgba(230, 143, 97, 0.25);
    --main-gray-dark: #233346;
    --main-gray-dark-opacity-75: rgba(35, 51, 70, 0.75);
    --main-gray-dark-opacity-50: rgba(35, 51, 70, 0.50);
    --main-gray-dark-opacity-25: rgba(35, 51, 70, 0.25);
    --main-black: #161A1F;
    --main-black-dark-opacity-50: rgba(22, 26, 31, 0.5);
    --main-black-dark-opacity-75: rgba(22, 26, 31, 0.75);
    --main-purple: #8E92FB;
    --main-purple-opacity-25: rgba(142, 146, 251, 0.25);

    --gradient-gray-black: linear-gradient(var(--main-gray-dark), var(--main-black));
    --gradient-orange-gray: linear-gradient(var(--text-color-active-opacity-50), var(--main-gray-dark-opacity-50));
    --gradient-transparent: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    --gradient-gray-black-opacity: linear-gradient(var(--main-black), rgba(0, 0, 0, 0));
    --gradient-black-10-opacity-90: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 90%);
    --gradientopacity-90-black-10: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
    --gradient-opacity-40-black-10: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.9));
    --gradient-gray-100-opacity-90: linear-gradient(var(--main-gray-dark), rgba(0, 0, 0, 0) 90%);
    --gradient-black-gray: linear-gradient(var(--main-black), var(--main-gray-dark));
    --gradient-opacity-gray-black-75-main-black: linear-gradient(var(--background-gray-black-opacity-75), var(--main-black));
    --gradient-black-gray-black: linear-gradient(var(--main-black), var(--main-gray-dark), var(--main-black));
    --gradient-black-purple-black: linear-gradient(var(--main-black), var(--main-purple), var(--main-black));
    --gradient-opacity-gray: linear-gradient(#00000000, var(--main-gray-dark));
    --gradient-opacity-gray-50: linear-gradient(var(--main-gray-dark-opacity-50), var(--main-gray-dark));
    --gradient-opacity-gray-50-180deg: linear-gradient(to top, var(--main-gray-dark-opacity-50), var(--main-gray-dark));
    --gradient-oapcity-gray-opacity: linear-gradient(#00000000, rgba(35, 51, 70, 0.1), #00000000);
}