.main {
    width: 100%;
    height: 400vh;
    background: var(--gradient-black-gray-black);
}

.description_section {
    position: sticky;      /* прилипание */
    top: 82px;
    height: calc(100vh - 82px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default);
    padding: 20px;
    box-sizing: border-box;
}

.hotel_preview {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    width: 15vw;
}

.pointer {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    width: 10vw;
}

.rules {
    position: absolute;
}

.rule_one {
    position: absolute;
    top: 15vh;
    right: 5vw;
    width: 7vw;
    height: 15vh;
    transform: translateX(100vw);
}

.rule_two {
    position: absolute;
    top: 40vh;
    left: 10vw;
    width: 7vw;
    height: 15vh;
    transform: translateX(-100vw);
}

.rule_three {
    position: absolute;
    bottom: 10vh;
    left: 40vw;
    width: 7vw;
    height: 15vh;
    transform: translateX(100vw);
}

.rule_four {
    position: absolute;
    top: 20px;
    left: 60vw;
    width: 7vw;
    height: 15vh;
    transform: translateX(-100vw);
}

.documentsBack {
    position: absolute;
    top: -82px;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100vh);
    background-image: url("assets/png/pasport.png");
    opacity: 0.5;
    background-size: 10%;
    visibility: hidden;
}

.description_row {
    display: grid;
    height: 80%;
    width: 60%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
    column-gap: 50px;
    position: absolute;
}

.description_row_mobile {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.condition {
    transform: translateX(-100vw);
}

.rule {
    transform: translateY(100vh);
}

.documents {
    transform: translateX(100vw);
}

.title_row {
    grid-column: span 2;
    text-align: left;
}

.image_row {
    width: 30vw;
    height: 30vh;
}

.image_row_mobile {
    width: 100%;
    height: 20vh;
}

.text_row {
    font-size: 2vh;
    text-align: justify;
}

.text_row_mobile {
    font-size: 14px;
}