.main {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    transition: background-size 0.5s ease;
}

.main:hover {
    background-size: 110% auto;
}

.price {
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default);
    font-size: 25px;
    padding: 2px 10px;
    box-sizing: border-box;
    text-align: end;
}

.price_text {
    background: linear-gradient(-90deg, white, var(--main-purple), white);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 1.5s linear infinite;
    -moz-animation: animated_text 1.5s linear infinite;
    -webkit-animation: animated_text 1.5s linear infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.overlay_bottom {
    width: 50%;
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            var(--text-color-default-opacity-50) 100%
    );
}

.inner_description {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.description {
    position: relative;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    align-items: end;
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            var(--main-gray-dark-opacity-75) 100%
    );
    backdrop-filter: blur(10px);
    mask: linear-gradient(
            to right,
            transparent 0%,
            black 50%,
            black 100%
    );
    font-family: 'Biform', sans-serif;
    color: var(--main-black);
    font-size: 40px;
    box-sizing: border-box;
    z-index: 0;
}

.button:hover {
    background-color: var(--main-purple);
    color: var(--text-color-default);
}

.button:hover::after {
    border-color: var(--main-purple);
}

.description_block {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    gap: 5px;
}

.hint {
    color: var(--main-gray-dark-opacity-50);
    font-size: 12px;
    margin: 0;
    text-align: start;
}

.text_description {
    font-size: 18px;
    margin: 0;
    text-align: start;
    color: var(--text-color-default);
}

.title {
    margin: 0;
    text-align: start;
    color: var(--text-color-default);
}

.about_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-inline-start: 20px;
    list-style: none;
}

.about {
    color: var(--text-color-default-opacity-50);
    font-size: 16px;
    margin: 0;
    width: 100%;
    text-align: end;
}

hr {
    height: 1px;
    margin: 0;
    width: 100%;
    background-color: var(--main-gray-dark-opacity-50);
}

@media (max-height: 900px) {
    .description {
        position: relative;
        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;
        align-items: end;
        background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0%,
                var(--main-gray-dark-opacity-75) 100%
        );
        backdrop-filter: blur(10px);
        mask: linear-gradient(
                to right,
                transparent 0%,
                black 50%,
                black 100%
        );
        font-family: 'Biform', sans-serif;
        color: var(--main-black);
        font-size: 25px;
        box-sizing: border-box;
        z-index: 0;
    }

    .text_description {
        font-size: 14px;
        margin: 0;
        text-align: end;
        color: var(--text-color-default);
    }

    .about {
        color: var(--text-color-default-opacity-50);
        font-size: 12px;
        margin: 0;
        width: 100%;
        text-align: end;
    }

    .price {
        font-family: 'Biform', sans-serif;
        color: var(--text-color-default);
        font-size: 18px;
        padding: 10px 10px;
        box-sizing: border-box;
    }

    .inner_description {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}


@media (max-width: 700px) {

    .main {
        justify-content: center;
        align-items: start;
        background-size: cover;
    }

    .main:hover {
        background-size: cover;
    }

    .description {
        position: relative;
        width: 100%;
        height: 60%;

        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 20px 10px;
        align-items: center;
        background: linear-gradient(
                to top,
                rgba(255, 255, 255, 0) 0%,
                var(--main-gray-dark-opacity-75) 100%
        );
        backdrop-filter: blur(10px);
        mask: linear-gradient(
                to top,
                transparent 0%,
                black 50%,
                black 100%
        );
        font-family: 'Biform', sans-serif;
        color: var(--main-black);
        font-size: 20px;
        box-sizing: border-box;
        z-index: 0;
    }

    .about {
        font-size: 8px;
    }

    .hint {
        font-size: 10px;
    }

    .text_description {
        font-size: 10px;
        margin: 0;
        text-align: start;
    }

    .inner_description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text_description {
        font-size: 12px;
        margin: 0;
        text-align: center;
        color: var(--text-color-default);
    }

    .about {
        color: var(--text-color-default-opacity-50);
        font-size: 10px;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .price {
        font-family: 'Biform', sans-serif;
        color: var(--text-color-default);
        font-size: 15px;
        padding: 2px 10px;
        box-sizing: border-box;
        text-align: center;
    }
}