.main {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    transition: 0.6s;
    position: relative;
    border: 2px solid var(--text-color-default-opacity-50);
    cursor: pointer;
}

.main:hover {
    box-shadow: 0px 50px 100px var(--text-color-default-opacity-50);
    transform: translateY(-20px);

}


.main:hover > .gradient_overlay {
    opacity: 0;
}

.main:hover .download {
    opacity: 1;
}


.gradient_overlay {
    position: absolute;
    top: 0;
    opacity: 1;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 0;
    /*background-color: var(--text-color-default-opacity-25);*/
    background-image: var(--gradient-orange-gray);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    transition: 1s;
}

.description_text {
    font-size: 16px;
    color: var(--text-color-default);
    text-align: start;
}

hr {
    margin: 0 !important;
    border: none;
    background-color: var(--text-color-default-opacity-50);
    height: 2px;
    width: 100%;
}

.address {
    padding: 3%;
    font-size: 15px;
    color: var(--main-black);
    background-color: var(--text-color-default);
}

.title {
    font-size: 22px;
    color: var(--text-color-default);
    text-align: start;
}

.animated_text {
    background: linear-gradient(-90deg, white, var(--text-color-active), white);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 1.5s linear infinite;
    -moz-animation: animated_text 1.5s linear infinite;
    -webkit-animation: animated_text 1.5s linear infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.download {
    font-size: 20px;
    color: var(--text-color-default-opacity-50);
    text-align: start;
    opacity: 0;
    transition: 0.6s;
}

@media (max-width: 700px) {
    .main::before {
        top: -10px;
        left: -10px;
        height: calc(100% + 20px);

    }

    .description_text {
        font-size: clamp(10px, 3vh, 15px);
        color: var(--text-color-default);
        text-align: start;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 5px;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        transition: 1s;
    }

    .title {
        font-size: clamp(14px, 3vh, 20px);
        color: var(--text-color-default);
        text-align: start;
    }

    .download {
        font-size: 12px;
        color: var(--text-color-default-opacity-50);
        text-align: start;
        opacity: 0;
        transition: 0.6s;
    }
}