.main {
    width: 100%;
    height: 120vh;
    background: var(--gradient-gray-black);
    border-top: 1px solid var(--text-color-active);
}

.animate_before_first {
    transform: translateY(100vw);
}

.animate_before_second{
    transform: translateY(100vw);
}

.animate {
    animation: animated_block 1s forwards;
}

@keyframes animated_block {
    from {
        opacity: 0;
        transform: translateY(100vw);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title_slide {
    width: 100%;
    height: 20%;
}

.embla {
    overflow: visible;
    width: 100%;
    height: 66%;
    transform: translateY(100vw);
}

.embla__container {
    display: flex;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10%;
    gap: 50px;
}

.button {
    height: 50px;
    width: 50px;
    border: 1px solid var(--text-color-default);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.button:hover {
    border: 1px solid var(--text-color-active);
    color: var(--text-color-active);
}

.embla__slide {
    flex: 0 0 calc(450px); /* ширина слайда */
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    box-sizing: border-box;
}

.hint_span {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Biform, 'sans-serif';
    color: transparent;
    font-size: 300px;
    -webkit-text-stroke: 1px var(--text-color-default-opacity-25);
}

.description_section {
    position: sticky;
    top: 0;/* прилипание */
    padding: 82px 20px 20px 20px;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default);
    box-sizing: border-box;
    overflow: hidden;
    gap: 2%
}

.word {
    display: inline-block;
    white-space: nowrap; /* чтобы буквы не переносились */
}

.content {
    width: 100%;
    height: 70%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.image_small {
    width: 100%;
    height: 50%;
    background-position: center center;
    background-size: cover;
}

.image_medium {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center center;
}

.content_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.content_image_left {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
}

.content_image_right {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: end;
}

.text_title {
    font-family: Biform, 'sans-serif';
    color: var(--text-color-default);
    font-size: 30px;
}

.text_paragraph {
    font-family: Biform, 'sans-serif';
    color: var(--text-color-default);
    font-size: 20px;
    text-align: start;
}

.header_about {
    margin: 0;
    height: 20%;
    font-family: Biform, 'sans-serif';
    color: var(--text-color-default);
    font-size: 50px;
}

.text_header_animated {
    display: inline-block;
    transform: translateX(100vw);
}

@keyframes animated_text_words {

    from {
        transform: translateX(100vw) scale(2);
        opacity: 0;
    }

    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }

}

@keyframes animated_text_words {

    from {
        transform: translateY(100vh) scale(2);
        opacity: 0;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

}

