.main {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
    transition: 0.6s;
    position: relative;
    border-bottom: 2px solid var(--text-color-default-opacity-50);
    cursor: pointer;
}

.question {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: start;
    font-size: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default);
}

.answer {
    display: flex;
    width: 100%;
    height: 0;
    padding: 2px 10px;
    box-sizing: border-box;
    text-align: start;
    font-size: 20px;
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default-opacity-50);
}

.answer_text {
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
}