.tab {
    font-family: 'Biform', sans-serif;
    font-size: 16px;
    transition: 0.5s;
    color: var(--text-color-default);
    border-bottom: 1px solid var(--text-color-default);
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .tab {
        font-size: 10px;
    }
}

.tab_active {
    color: var(--text-color-active);
    border-bottom: 1px solid var(--text-color-active);
}

.tab:hover {
    color: var(--text-color-active);
    border-bottom: 1px solid var(--text-color-active);
}