.main {
    width: 100%;
    height: 100%;
    display: grid;
    user-select: none;
   grid-template-columns: 1fr 4fr;
    background-image: url("assets/images/hotel.jpg");

}

.filters {
    width: 100%;
    height: 100%;
    background-color: var(--main-gray-dark-opacity-75);
    backdrop-filter: blur(20px);
    padding: 90px 20px 20px;
    border-right: 1px solid var(--text-color-default);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 3;
}

.description_filter {
    margin: 0;
    text-align: start;
    font-size: 18px;
    color: var(--text-color-default-opacity-50);
    font-family: 'Biform', sans-serif;
}

.input_item {
    border: 2px solid var(--text-color-default-opacity-25);
    background-color: transparent;
    font-size: 16px;
    color: var(--text-color-default);
    font-family: 'Biform', sans-serif;
    width: 100%;
    box-sizing: border-box;
    height: 46px;
    outline: none;
}

.item {
    width: 100%;
    height: 75px;
    display: grid;
    gap: 5px;
    grid-template-rows: 20px 50px;
}

.item_date_start {
    width: 100%;
    height: 75px;
    display: grid;
    gap: 5px;
    position: relative;
    z-index: 3;
    grid-template-rows: 20px 50px;
}

.item_date {
    width: 100%;
    height: 75px;
    display: grid;
    gap: 5px;
    position: relative;
    z-index: 2;
    grid-template-rows: 20px 50px;
}

.title_text {
    font-size: 25px;
    color: var(--main-gray-dark);
    font-family: 'Biform', sans-serif;
}

hr {
    height: 1px;
    background-color: var(--text-color-default);
    outline: none;
    border: none;
    margin: 0 20px;
}

.results {
    max-width: 100%;
    max-height: 100%;
    gap: 20px;
    /*background-color: var(--text-color-default-opacity-50);*/
    backdrop-filter: blur(20px);
    padding: 70px 0 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.button {
    background-color: transparent;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;

}