.main {
    width: 100%;
    height: 100%;
    user-select: none;
    /*background-image: url("assets/images/hotel.jpg");*/

}

.filters {
    width: 100%;
    height: 190px;
    background-color: var(--main-gray-dark-opacity-75);
    backdrop-filter: blur(20px);
    padding: 90px 30% 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: absolute;
    z-index: 3;
    animation: animate_filters 1s forwards;
}

@keyframes animate_filters {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.description_filter {
    margin: 0;
    text-align: start;
    font-size: 18px;
    color: var(--text-color-default-opacity-50);
    font-family: 'Biform', sans-serif;
}

.input_item {
    border: 2px solid var(--text-color-default-opacity-25);
    background-color: transparent;
    font-size: 16px;
    color: var(--text-color-default);
    font-family: 'Biform', sans-serif;
    width: 100%;
    box-sizing: border-box;
    height: 46px;
    outline: none;
}

.item {
    width: 100%;
    height: 75px;
    display: grid;
    gap: 5px;
    grid-template-rows: 20px 50px;
}

.item_date_start {
    width: 100%;
    height: 75px;
    display: grid;
    gap: 5px;
    position: relative;
    z-index: 3;
    grid-template-rows: 20px 50px;
}

.item_date {
    width: 100%;
    height: 75px;
    display: grid;
    gap: 5px;
    position: relative;
    z-index: 2;
    grid-template-rows: 20px 50px;
}

.title_text {
    font-size: 25px;
    color: var(--main-gray-dark);
    font-family: 'Biform', sans-serif;
}

hr {
    height: 1px;
    background-color: var(--text-color-default);
    outline: none;
    border: none;
    margin: 0 20px;
}

.results {
    width: 100vw;
    height:100vh;
    /*background-color: var(--text-color-default-opacity-50);*/
    backdrop-filter: blur(20px);
    padding: 150px 0 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    overflow-y: auto;
}

.button {
    background-color: transparent;
    white-space: nowrap;
}

.list {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;

}

@media (max-height: 900px) {

}

@media (max-width: 700px) {
    .filters {
        width: 100%;
        height: 150px;
        padding: 70px 5% 2px;
    }


    .button {
        background-color: transparent;
        border: 1px solid var(--text-color-default);
        white-space: nowrap;
        height: 40px;
    }


    .item_date_start {
        width: 100%;
        height: 75px;
        display: grid;
        gap: 5px;
        position: relative;
        z-index: 3;
        grid-template-rows: 20px 40px;
    }

    .item_date {
        width: 100%;
        height: 75px;
        display: grid;
        gap: 5px;
        position: relative;
        z-index: 2;
        grid-template-rows: 20px 40px;
    }

    .description_filter {

        font-size: 10px;

    }
}