.main {
    width: 100%;
    height: 120vh;
    background: var(--main-gray-dark);
    border-top: 1px solid var(--text-color-active);
    transition: 0.5s;
}

.hint_span {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Biform, 'sans-serif';
    color: transparent;
    font-size: 300px;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--text-color-default-opacity-25);
}

.description_section {
    position: sticky;
    top: 0;/* прилипание */
    padding: 200px 0 0 0;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default);
    box-sizing: border-box;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.animate_before_first {
    transform: translateY(100vh);
}

.animate_before_second {
    transform: translateY(100vh);
}


.embla {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 25vh;
    left: 10%;
    bottom: 10%;
    background: var(--text-color-default-opacity-50);
    backdrop-filter: blur(20px);
    border: 1px solid var(--text-color-default-opacity-25);
    box-sizing: border-box;
}

.embla__container {
    display: flex;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10%;
    gap: 50px;
    user-select: none;
}

.button {
    height: 50px;
    width: 50px;
    border: 1px solid var(--text-color-default);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.button:hover {
    border: 1px solid var(--text-color-active);
    color: var(--text-color-active);
}

.embla__slide {
    flex: 0 0 100%; /* ширина слайда */
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2%;
    box-sizing: border-box;
    flex-direction: column;
    color: var(--main-black);
    font-family: 'Biform', sans-serif;
    font-size: 20px;
    text-align: start;
}

.embla__slide:hover .hint_slide {
    color: var(--text-color-default);
    background-color: var(--main-purple);
    border: none;
}

.hint_slide {
    padding: 5px;
    transition: 0.5s;
    border: 1px solid var(--background-black-opacity-25);
    box-sizing: border-box;
}

.date {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    font-family: 'Biform', sans-serif;
    justify-content: space-between;
    color: var(--background-black-opacity-25);
}

.content_right {
    width: 50%;
    height: 100%;
    background-color: var(--main-gray-dark);
    font-family: Biform, 'sans-serif';
    color: var(--text-color-default);
    font-size: 35px;
    padding: 10%;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.content_left {
    width: 50%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    .hint_span {
        font-size: 100px;

    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .content_right {
        width: 100%;
        height: 30%;
        background-color: var(--main-gray-dark);
        font-family: Biform, 'sans-serif';
        color: var(--text-color-default);
        font-size: 20px;
        padding: 10%;
        box-sizing: border-box;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .content_left {
        width: 100%;
        height: 70%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .embla {
        position: absolute;
        overflow: hidden;
        width: 100vw;
        height: 20vh;
        left: 0;
        bottom: 40%;
        background: var(--text-color-default-opacity-50);
        backdrop-filter: blur(20px);
        border: 1px solid var(--text-color-default-opacity-25);
        box-sizing: border-box;
    }

    .embla__slide {
        flex: 0 0 100%; /* ширина слайда */
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 2%;
        box-sizing: border-box;
        flex-direction: column;
        color: var(--main-black);
        font-family: 'Biform', sans-serif;
        font-size: 12px;
        text-align: start;
    }

    .date {
        font-size: 9px;
    }

    .description_section {
        padding: 100px 0 0 0;
    }

}

