.header {
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    background-color: var(--background-black-opacity-25);
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    transform: translateY(-100%);
}
.logo {
    height: 100%;
}

.header_left {
    display: flex;
    flex-direction: row;
    gap: 5%;
    height: 100%;
    align-items: center;
}

.header_right {
    display: flex;
    flex-direction: row;
    gap: 5%;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.header_button {
    font-family: 'Biform', sans-serif;
    font-size: 16px;
    transition: 0.5s;
    color: var(--text-color-default);
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    background-color: var(--text-color-active);
    outline: none;
    position: relative;
    border: 1px solid transparent;
}

.header_button:hover {
    border: 1px solid var(--text-color-default);
    background-color: transparent;
    color: var(--text-color-default);

}


.header_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navigation {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.button_ref {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.button_element__hidden {
    transition: 0s;
    transform: translateX(200%);
}

.button_element__highlight {
    box-shadow: 0 0 20px var(--text-color-active);
}

@keyframes animated_text {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

@keyframes button_highlight {
    0% {
        transform: rotate(1deg);
    }
    25% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

@media (max-width: 700px) {
    .header {
        width: 100%;
        height: 7vh;
        gap: 1%;
        justify-content: space-between;
    }

    .header_button {
        font-family: 'Biform', sans-serif;
        font-size: 10px;
        transition: 0.5s;
        color: var(--text-color-default);
        padding: 2px;
        box-sizing: border-box;
        user-select: none;
        cursor: pointer;
        background-color: var(--text-color-active);
        outline: none;
        position: relative;
        white-space: nowrap;
        border: 1px solid transparent;
    }

    .navigation {
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 1px;
    }

    .logo {
        height: 0;

    }

    .header_left {
        display: flex;
        flex-direction: column;
        gap: 1%;
        height: 10vh;
        align-items: start;
        justify-content: center;
    }
}