.main {
    width: 100%;
    height: 100%;
    display: grid;
    user-select: none;
    background-color: var(--text-color-default);
   grid-template-columns: 1fr 2fr;
}

.description {
    width: 100%;
    height: 100%;
    background-color: var(--text-color-active);
    color: var(--text-color-default);
    font-size: 20px;
    font-family: 'Biform', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 40px;
    box-sizing: border-box;
    padding: 90px 50px 50px;
    z-index: 1;
    position: relative;
}

.image {
    height: 100%;
}

.view {
    padding-top: 90px;
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-template-rows: 100px auto;
}

.overlay_blur {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(20px);
    background: var(--text-color-default-opacity-50);
    z-index: 0;
}

.switch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.layout {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header {
    font-size: 40px;
    text-align: end;
    text-transform: uppercase;
    color: var(--main-gray-dark);
}

.balcony {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.title {
    font-size: 30px;
    text-align: end;
}

.price_container {
    position: relative;
}

.price {
    padding: 15px;
    font-size: 15px;
    position: relative;
    background-color: var(--main-gray-dark);
}

.price::after {
    content: '';
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid var(--text-color-default);
}

.description_about {
    font-size: 20px;
    text-align: end;
    color: var(--text-color-default-opacity-50);
}

.description_text {
    font-size: 20px;
    text-align: end;
    color: var(--main-gray-dark-opacity-50);
}

.back_text {
    font-size: 20px;
    text-align: end;
    color: var(--main-gray-dark-opacity-50);
}

.back_text:hover {
    text-decoration: underline;
}

.button_container {
    width: 100%;
}

button.button {
    width: 100%;
    white-space: nowrap;
    border: 2px solid transparent;
    background-color: var(--text-color-default) ;
    color: var(--main-gray-dark) ;
}

button.button.active {
    width: 100%;
    white-space: nowrap;
    border: 2px solid var(--text-color-default);
    background-color: var(--main-gray-dark) ;
    color: var(--text-color-default) ;
}

button.button:hover {
    color: var(--text-color-default);
    background-color: var(--main-gray-dark) ;
    border: 2px solid var(--text-color-default);
}

