.main {
    width: 100%;
    height: 100%;
    display: grid;
    user-select: none;
    background-color: var(--text-color-default);
   grid-template-columns: 1fr 2fr;
}

.description {
    width: 100%;
    height: 100%;
    background-color: var(--text-color-active);
    color: var(--text-color-default);
    font-size: 20px;
    font-family: 'Biform', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 40px;
    box-sizing: border-box;
    padding: 90px 50px 50px;
    z-index: 1;
    position: relative;
}

.image {
    height: 100%;
}

.view {
    padding-top: 90px;
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-template-rows: 100px auto;
}

.overlay_blur {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(20px);
    background: var(--text-color-default-opacity-50);
    z-index: 0;
}

.switch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.layout {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header {
    font-size: 40px;
    text-align: end;
    text-transform: uppercase;
    color: var(--main-gray-dark);
}

.balcony {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.title {
    font-size: 30px;
    text-align: end;
}

.price_container {
    position: relative;
}

.price {
    padding: 15px;
    font-size: 15px;
    position: relative;
    background-color: var(--main-gray-dark);
}

.price::after {
    content: '';
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid var(--text-color-default);
}

.description_about {
    font-size: 20px;
    text-align: end;
    color: var(--text-color-default-opacity-50);
}

.description_text {
    font-size: 20px;
    text-align: end;
    color: var(--main-gray-dark-opacity-50);
}

.back_text {
    font-size: 20px;
    text-align: end;
    color: var(--main-gray-dark-opacity-50);
}

.back_text:hover {
    text-decoration: underline;
}

.button_container {
    width: 100%;
}

button.button {
    width: 100%;
    white-space: nowrap;
    border: 2px solid transparent;
    background-color: var(--text-color-default) ;
    color: var(--main-gray-dark) ;
}

button.button.active {
    width: 100%;
    white-space: nowrap;
    border: 2px solid var(--text-color-default);
    background-color: var(--main-gray-dark) ;
    color: var(--text-color-default) ;
}

button.button:hover {
    color: var(--text-color-default);
    background-color: var(--main-gray-dark) ;
    border: 2px solid var(--text-color-default);
}

@media (max-width: 700px) {
    .main {
        width: 100vw;
        height: 100vh;
        display: flex;
        user-select: none;
        padding-bottom: 100px;
        background-color: var(--text-color-default);
        flex-direction: column-reverse;
    }


    .description {
        width: 100%;
        height: 45%;
        background-color: var(--text-color-active);
        color: var(--text-color-default);
        font-size: 20px;
        font-family: 'Biform', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        gap: 0;
        padding: 10px 10px 30px;
    }

    .view {
        padding-top: 65px;
        padding-bottom: 0;
        box-sizing: border-box;
        width: 100%;
        height: 55%;
        display: grid;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        grid-template-rows: 40px auto;
    }

    .layout {
        width: 100vw;
        height: 100%;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .image {
        width: 50%;
        position: relative;
    }

    .header {
        font-size: 18px;
        text-align: end;
        text-transform: uppercase;
        color: var(--main-gray-dark);
    }

    .balcony {
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    .title {
        font-size: 12px;
        text-align: center;
    }

    .description_about {
        font-size: 10px;
        text-align: center;
        color: var(--text-color-default-opacity-50);
    }

    .description_text {
        font-size: 10px;
        text-align: center;
        color: var(--main-gray-dark-opacity-50);
    }

    .price {
        padding: 10px;
        font-size: 10px;
        position: relative;
        background-color: var(--main-gray-dark);
    }

    .price::after {
        content: none;
    }

    .switch {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

}
