.main {
    width: 100%;
    background: var(--gradient-gray-black);
}

.hint_span {
    position: absolute;
    top: 50px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    font-family: Biform, 'sans-serif';
    color: transparent;
    font-size: 300px;
    -webkit-text-stroke: 1px var(--text-color-default-opacity-25);
}

.description_section {
    position: sticky;
    top: 0;/* прилипание */
    padding: 82px 150px 20px 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default);
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    height: 40px;
}

a {
    color: var(--text-color-default);
}

.info_column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    font-family: Biform, 'sans-serif';
    color: var(--text-color-default);
    font-size: 20px;
    align-items: start;
    text-align: start;
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid var(--text-color-default-opacity-25);
    padding: 50px 0 100px;
    box-sizing: border-box;
}

.content_bottom {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--text-color-default-opacity-25);
    padding: 50px 0 100px;
    box-sizing: border-box;
}

.title {
    font-family: Biform, 'sans-serif';
    font-size: 14px;
    color: var(--text-color-active);
}

.paragraph {
    font-family: Biform, 'sans-serif';
    font-size: 36px;
    color: var(--text-color-active);
}

.text_bottom_left {
    font-family: Biform, 'sans-serif';
    font-size: 14px;
    width: 25vw;
    text-align: start;
    color: var(--text-color-default-opacity-50);
}

.text_bottom_right {
    font-family: Biform, 'sans-serif';
    font-size: 14px;
    width: 30vw;
    text-align: end;
    color: var(--text-color-default);
    cursor: pointer;
}


@media (max-height: 900px) {
    .info_column {
        font-size: 18px;

    }
}

@media (max-width: 700px) {

    .main {
        width: 100%;
        height: 80vh;
        background: var(--gradient-gray-black);
    }

    .description_section {
        position: sticky;
        top: 0;/* прилипание */
        padding: 82px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-family: 'Biform', sans-serif;
        color: var(--text-color-default);
        box-sizing: border-box;
        overflow: hidden;
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        padding: 50px 0 50px;
        justify-content: space-between;
    }

    .logo {
        width: 80%;
    }

    .info_column {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        font-family: Biform, 'sans-serif';
        color: var(--text-color-default);
        font-size: 10px;
        align-items: start;
    }

    .map_column {
        grid-column: span 2;
    }

    .title {
        font-family: Biform, 'sans-serif';
        font-size: 8px;
        color: var(--text-color-active);
    }

    .paragraph {
        font-family: Biform, 'sans-serif';
        font-size: 12px;
        color: var(--text-color-active);
    }

    .text_bottom_left {
        font-family: Biform, 'sans-serif';
        font-size: 8px;
        width: 25vw;
        text-align: start;
        color: var(--text-color-default-opacity-50);
    }

    .text_bottom_right {
        font-family: Biform, 'sans-serif';
        font-size: 8px;
        width: 30vw;
        text-align: end;
        color: var(--text-color-default);
    }

}

