.main {
    width: 100%;
    height: 50vh;
    background: var(--gradient-gray-black);
}

.hint_span {
    position: absolute;
    top: 50px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    font-family: Biform, 'sans-serif';
    color: transparent;
    font-size: 300px;
    -webkit-text-stroke: 1px var(--text-color-default-opacity-25);
}

.description_section {
    position: sticky;
    top: 0;/* прилипание */
    padding: 82px 20px 20px 20px;
    height: calc(50vh);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Biform', sans-serif;
    color: var(--text-color-default);
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    height: 40px;
}

a {
    color: var(--text-color-default);
}

.info_column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    font-family: Biform, 'sans-serif';
    color: var(--text-color-default);
    font-size: 20px;
    align-items: start;
    text-align: start;
}

.content {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-height: 900px) {
    .info_column {
        font-size: 18px;

    }
}

@media (max-width: 700px) {

    .main {
        width: 100%;
        height: 80vh;
        background: var(--gradient-gray-black);
    }

    .description_section {
        position: sticky;
        top: 0;/* прилипание */
        padding: 82px 20px 20px 20px;
        height: calc(60vh);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-family: 'Biform', sans-serif;
        color: var(--text-color-default);
        box-sizing: border-box;
        overflow: hidden;
    }

    .content {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .logo {
        width: 80%;
    }

    .info_column {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        font-family: Biform, 'sans-serif';
        color: var(--text-color-default);
        font-size: 10px;
        align-items: start;
    }

    .map_column {
        grid-column: span 2;
    }

}

